@mixin author {
    // font-family: Inter;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin team {
    // font-family: Inter;
    font-size: 8px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
    color: #a3a3a3;
}

@mixin btnEarn {
    height: 17px;
    width: 59px;
    border-radius: 1px;
    font-family: Montserrat;
    font-size: 8px;
    font-weight: 700;
    line-height: 7px;
    letter-spacing: 0.02em;
    text-align: left;
    background-color: #fff500;
    text-align: center;
}


.listArticle {
    margin-bottom: 66px;


    .listArticle_list {

        max-width: calc(98%/3);
        height: 100%;


        #author {
            @include author();
            margin-top: 10px;
        }

        #team {
            @include team();
            margin-top: 5px;
        }

        #listArticle_item_content {
            font-size: 12px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0.02em;
            text-align: left;
            margin-top: 9px;
            margin-bottom: 4px;
        }

        #listArticle_item_earn {
            @include btnEarn();
        }
    }
}