@import 'listArticle.module';

// .main {}

.home_top__container {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  padding: 17px 0px 17px 0px;
}

@mixin title {
  // font-family: Montserrat;
  font-size: 34px;
  font-weight: 900;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin author {
  // font-family: Inter;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}

@mixin team {
  // font-family: Inter;
  font-size: 8px;
  font-weight: 600;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
  color: #a3a3a3;
}

#tagEarn {
  height: 17px;
  width: 59px;
  border-radius: 1px;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 700;
  line-height: 7px;
  letter-spacing: 0.02em;
  background-color: #fff500;
  text-align: center;
}

#tagFree {
  height: 17px;
  width: 59px;
  border-radius: 1px;
  font-family: Montserrat;
  font-size: 8px;
  font-weight: 700;
  line-height: 7px;
  letter-spacing: 0.02em;
  background-color: #00ff75;
  text-align: center;
}

//Menu
.menu {
  margin-top: 3.37px;
  padding: 13px 0;
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;

  .menu_list {
    list-style: none;
    justify-content: space-around;
    text-align: center;



    .text {
      display: inline-block;
      font-family: Inter;
      font-size: 12px;
      font-weight: 600;
      line-height: 15px;
      letter-spacing: 0em;
      margin: 0 13px;
      color: #5A5A5A;

      &:hover {
        color: #000000;
        cursor: pointer;
      }
    }
  }
}


// first Article

#white {
  transform: rotate(45deg);
  position: absolute;
  margin-top: 17px;
  margin-left: 490px;
  z-index: 2;
}

.firstArticle {
  margin-top: 92px;


  #img {
    height: 275px;
    width: 523.0850830078125px;
    border-radius: 0px;
    max-width: 50%;
    margin-right: 20px;
    z-index: 1;
    background-color: #ffffff;
  }


  #firstArticle_list_title {
    max-width: 50%;
  }

  .firstArticle_list {
    z-index: 3;

    // .firstArticle_item {}

    #firstArticle_item_title {
      @include title();
      font-size: 32px
    }

    #firstArticle_item_earn {

      margin: 15px 0 5px 0;
    }

    #firstArticle_item_main_content {
      // font-family: Inter;
      font-size: 13px;
      font-weight: 700;
      line-height: 19px;
      letter-spacing: 0.02em;
      margin-top: 15px;
    }

    #firstArticle_item_content {
      font-size: 13px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #909090;
      margin-top: 12px;

      strong {
        color: #000000;
        font-size: 13px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-align: left;

      }
    }
  }
}

// second Article
.secondArticle_head {
  display: flex;
  justify-content: space-between;
  margin-top: 116px;
  margin-bottom: 35px;

  .secondArticle_head_item {
    display: inline-block;
  }

  #Fullstory {
    // font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.02em;
    // text-align: left;
  }

  #SeeNow {
    // font-family: Inter;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 0.02em;
    // text-align: right; 

  }
}

.secondArticle {
  margin-bottom: 110px;

  div {
    max-width: 50%;
    padding-right: 30px;
  }

  #img {

    border-radius: 0px;
    max-width: 50%;
  }

  .secondArticle_list {
    display: inline-block;



    .secondArticle_list_item {
      margin: 5px 0;
    }

    #author {
      @include author();
    }

    #team {
      @include team();
    }

    #secondArticle_item_title {
      @include title();
    }



    #secondArticle_item_content {
      font-size: 13px;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0.02em;
      text-align: left;
      color: #909090;
      margin-top: 10px;

      strong {
        color: #000000;
        font-size: 13px;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0.02em;
        text-align: left;

      }
    }

  }
}